.container{
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    padding: 5px;
}

p{
    color: rgb(92, 91, 91);
    font-style: italic;
}


h1{
    background-color: rgb(255, 147, 246);
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.container.content{
    text-align: left;
}

