*{
    /* outline: 2px solid red; */
    margin: 0;
}
:root {
    --spacing: 5px;
}


body {
    background-color: aliceblue;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fancy-pixel {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 100px;
    color: #fef2a0;
    text-shadow:
        2px 2px 0 #36454f,
        -2px -2px 0 #36454f,
        -2px 2px 0 #36454f,
        2px -2px 0 #36454f;
    position: relative;
    text-align: center;
    padding: 0;
}

/* ----------------Search Bar */
.search-recipes {
    width: 40%;
    height: 30px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    margin:0 0 50px 0 ;
}

.search-recipes input{
  flex: 3 0 0;
  border: none;
  border-radius: 0;
  padding: 0 10px;
  outline: none;
}

.search-recipes button{
  flex: 1 1 0;
  border: none;
  border-radius: 0;
  background-color: #020403;
  color: white;
  cursor: pointer;
  font-family: "Pixelify Sans", sans-serif;
}



/* -----------------Recipes */


p {
    color: rgb(92, 91, 91);
    font-style: italic;
    font-size: clamp(32px, 5vw, 65px)
}

a {
    text-decoration: none;
    color: black;
}


.content {
    text-align: left;
    width: 80%;
    padding: 0;
}

.content p{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #27282c;
}

.plate {
    display: flex;
    width: 100%;
}

.meals {
    display: inline;
    width: 700px;
    color: brown;
    margin: 0 20px;
}


.container.meals {
    padding: 10px 0;
}

.featured-menu{
    display: flex;
    flex-wrap: wrap;
    grid-template-rows: 3,1fr;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
}



.recipe-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  background-color: #FFC06750;
  width: 160px; 
  height: 220px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 8px;
}

.recipe-menu img {
    width: 100%;
    max-width: 200px;      
    height: auto;
    display: block;
    border-radius: 3px;
    image-rendering: pixelated;
    filter: drop-shadow(2px 2px 0 #000); /* fake outline */
}

.recipe-menu span {
    font-family: "Pixelify Sans", sans-serif;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #27282c;
}

.recipe-menu:hover {
    transform: scale(95%);
    transition: transform 0.1s ease;
}